div.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .card {
        padding: 0.5rem;
        margin: 0.5rem;

        &.link {
            transition: transform 0.2s ease-in-out;

            h4 {
            text-align: center;
            margin: 0;
            }

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }

            img {
                max-width: 100%;
            }
        }

        &.event {
            border-radius: 1rem;
            padding: 0.5rem 1.5rem;

            h3 {
                text-align: left;
            }

            .date {
                font-style: italic;
            }

            &:nth-of-type(2n - 1) {
            background-color: var(--color-green-transparent);
            }

            &:nth-of-type(2n) {
                background-color: var(--color-magenta-transparent);
            }
        }

    }

    &.events {
        grid-template-columns: 1fr;
    }

    &.links {
        grid-template-columns: 1fr 1fr;

        @media (min-width: 800px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    
}

div.policy-grid {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }

    .policy {
        border-radius: 1rem;
        padding: 1.5rem;
        margin: 0.5rem;

        &:nth-of-type(2n - 1) {
            background-color: var(--color-green-transparent);
        }

        &:nth-of-type(2n) {
            background-color: var(--color-magenta-transparent);
        }

        &.image {

            padding: 0;

            img {
                display: block;
                max-width: 100%;
                border-radius: 1rem;
        }
        }

        &.extra {
            display: none;
        }

        @media (min-width: 800px) {
            &.big {
                grid-column: span 2;
            }

            &.extra {
                display: block;
            }
        }
    }
}