:root {
    --color-header-bg: black;
    --color-header-text: white;
    --color-footer-bg: #009540;
    --color-footer-text: black;
    --color-bg: #F0F0F0;
    --color-content-bg: rgba(2, 2, 2, 0.1);
    --color-text: black;
    --color-light-text: #009540;
    --color-logo-magenta: #E5007E;
    --color-logo-green: #009540;
    --color-magenta-transparent: rgba(229, 0, 126, 0.3);
    --color-green-transparent: rgba(0, 149, 64, 0.3);

    --font-size-logo: larger;
}

header {
    margin: 0;
    color: var(--color-header-text);
    height: 0;
}

html {
    min-height: 100vh;
}


body {
    margin: 0;
    color: var(--color-text);
    font-family: Helvetica, sans-serif;
}

.B-logo {
    color: var(--color-logo-magenta);
    font-weight: bold;
}

.R-logo {
    color: var(--color-logo-green);
    font-weight: bold;
}

a {
    color: var(--color-logo-magenta);
    text-decoration: none;

    .icon-text {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
        margin-left: 0.5rem;
    }
}

a:hover {
    color: var(--color-light-text);
}

div.page {
    display: flex;
    justify-content: center;
    background: var(--color-bg);
    min-height: calc(100vh - 3rem);
}

div.content {
    margin: 0.5rem;
    margin-top: calc(var(--logo-size) + 1rem);
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--color-content-bg);
}

h1,
h2,
h3 {
    text-align: center;
    scroll-margin-top: 4rem;
}

footer {
    margin: 0;
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 1rem;

}

footer a {
    color: var(--color-footer-text);

    &:hover {
        color: var(--color-logo-magenta);
    }
}

.about-section {
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
    object-fit: cover;
}

.person {
    display: flex;
    flex-direction: row;

    .image {
        width: 20%;
        padding: 1rem;

        img {
            width: 100%;
        }
    }

    .info {
        width: 80%;

        h3 {
            text-align: left;
        }

        .post {
            font-style: italic;
        }
    }

}

@media (min-width: 800px) {

    .about-section:nth-of-type(2n) {
        flex-direction: row;
    }

    .about-section:nth-of-type(2n) .image-container {
        margin-inline-end: 2rem;
    }

    .about-section:nth-of-type(2n-1) {
        flex-direction: row-reverse;
    }

    .about-section:nth-of-type(2n-1) .image-container {
        margin-inline-start: 2rem;
    }

    .image-container img{
        width: 350px;
    }

}